@charset "UTF-8";

/*
    Typical Device Breakpoints - 03/2025
Legenda: P = Pequeno; M = Medio; G = Grande.

TELAS EXTRA-P:              Mínimo  ATÉ 480px
CELULARES-P:                481px   ATÉ 600px
CELULARES-G / TABLETS-P:    601px   ATÉ 768px
TABLETS-M:                  769px   ATÉ 1024px
NOTEBOOKS-M / PC-P:         1025px  ATÉ 1280px
PC / TELAS HD:              1281px  ATÉ 1440px
TELAS-G:                    1441px  ATÉ Máximo

*/

/*
    Endereço das imagens 
https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/001.png 

    Link do favicon
<link rel="shortcut icon" href="faviconV2.png" type="image/x-icon">

    Link Icons Google
<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />


    Span do Modo claro e escuro
<span class="material-symbols-outlined" class="">
    light_mode
</span>

<span class="material-symbols-outlined">
    dark_mode
</span>

*/


/*
    Paleta de Cores
        Cor de Fundo:           #EDECF2
        Cor de Fundo header:    #e2504c
        Caixa Pokemon:          #c9c8cc
        
        Tipos de Pokemon:
            Normal:     #DAC8B3
            Fogo:       #FF6400
            Água:       #00879E
            Grama:      #01e48d
            Voador:     #4e8fe4
            Lutador:    #C80815
            Veneno:     #9601e6
            Elétrico:   #FFDD25
            Terra:      #aa7444
            Pedra:      #6B5E55
            Psíquico:   #ee00b6
            Gelo:       #D5E8D2
            Inseto:     #354a21
            Fantasma:   #b681eb
            Ferro:      #224b81
            Dragão:     #5c57c0
            Sombrio:    #0f0f0f
            Fada:       #fca7bd

*/

* {
    margin: 0px;
    padding: 0px;
    font-family: monospace;
}

body {
    background-color: #cdccd1;
}

header {
    width: 100vw;
    height: 2.5em;
}

header > div > div > h1 {
    font-size: 2.5em;
}

header > div > div > ul > li {
    font-size: 1.5em;
}

header > div.conteiner {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    background-color: #e2504c;
}

header > div > div > a {
    color: black;
    text-decoration: none;
}

div.conteiner2 > .menu > ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;

    background-color: #e2504c;
    list-style-type: none;
    
}

main {
    /* background-color: violet; */
    margin: auto;
    margin-top: 28px;
    height: 1449vh;
    width: 100vw;
    display: flex;
    flex-flow: row wrap;


}

main > div {
    

    background-color: #cdccd1;
    height: 149px;
    width: 200px;
    border-radius: 7px;
    border: 1px solid black;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.24);
    margin: 14px;

    display: flex;
    flex-flow: column;


}

main > div > h3 {
    color: white;
    font-size: 1.4em;
    text-shadow: 1px 3px 2px rgba(0, 0, 0, 0.63);
    text-align: center;
}

main > div > p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1em;
    color: white;
    background-color: rgba(0, 0, 0, 0.219);
    text-align: end;
    padding-right: 7px;
}

main > div > img {
    width: 98px;
    height: 98px;
    padding-left: 42p;

    align-self: center;
    
}


/* Div's para os tipos de pokemon */

div.tipo-grama {
    background-color: #01e48d;
}

div.tipo-normal {
    background-color: #DAC8B3;
}

div.tipo-fogo {
    background-color: #FF6400;
}

div.tipo-agua {
    background-color: #00879E;
}

div.tipo-voador {
    background-color: #4e8fe4;
}

div.tipo-lutador {
    background-color: #C80815;
}

div.tipo-veneno {
    background-color: #a837e6;
}

div.tipo-eletrico {
    background-color: #FFDD25;
}

div.tipo-terra {
    background-color: #aa7444;
}

div.tipo-pedra {
    background-color: #6B5E55;
}

div.tipo-psiquico {
    background-color: #ff3bd1;
}

div.tipo-gelo {
    background-color: #D5E8D2;
}

div.tipo-inseto {
    background-color: #58773a;
}

div.tipo-fantasma {
    background-color: #b681eb;
}

div.tipo-ferro {
    background-color: #224b81;
}

div.tipo-dragao {
    background-color: #5c57c0;
}

div.tipo-sombrio {
    background-color: #0f0f0f;
}

div.tipo-fada {
    background-color: #fca7bd;
}
